<h1>id: <%= @request.id %> の編集ページ</h1>


<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= render 'form', request: @request %>
  </div>
</div>


<%= link_to '一覧に戻る', request_path %>